name: CI

on:
  push:
    branches:
      - master
      - main
jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          cache: true
          go-version-file: "go.mod"
      - run: go build .
      - run: go test .

  twist_notification:
    name: Send a message to Twist.
    runs-on: ubuntu-latest
    if: ${{ always() }}
    needs: build_and_test
    steps:
      - name: Send twist notification
        uses: Doist/twist-post-action@master
        with:
          message: ${{ needs.build_and_test.result == "success" && "✅" || "❌"}} ${{ github.repository }} [[${{ github.action}}](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})] **${{ needs.build_and_test.result }}**
          install_id: ${{ secrets.TWIST_INTEGRATION_INSTALL_ID }}
          install_token: ${{ secrets.TWIST_INTEGRATION_INSTALL_TOKEN }}
