name: CI

on:
  pull_request:

jobs:
  staticcheck:
    name: staticcheck
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: Run staticcheck
        uses: reviewdog/action-staticcheck@v1
        env:
          GOPRIVATE: github.com/lingio
        with:
          reporter: github-pr-review
          filter_mode: nofilter
          fail_on_error: true

  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          cache: true
          go-version-file: "go.mod"
      - run: go build .
      - run: go test .
